@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Home Page";
    if (Session["userId"] == null)
    {
        Response.Redirect("~/LogIn/Authorize");
    }
}

@Styles.Render("~/Content/chat")

<div class="page-header">
    <a href="@Url.Action("UserEdit", "User" )">Edit Profile</a>
    <a href="@Url.Action("LogOut", "LogIn" )">Log Out</a>
</div>
<div class="page-container">
    <div class="chat-header">
        <label>Chat</label>
    </div>
    <div id="chat-container">
    </div>
    <div class="chat-input">
        <textarea id="chat-text" onkeypress="(event.which === 13) && sendMessage();"></textarea>
        <input type="button" value="SEND" onclick="sendMessage();" />
    </div>
</div>


<div class="modal fade" id="user-details-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="entry">
                        <label>Full Name:</label>
                        <label name="fullname"></label>
                    </div>

                    <div class="entry">
                        <label>Nickname:</label>
                        <label name="nickname"></label>
                    </div>

                    <div class="entry">
                        <label>Email:</label>
                        <label name="email"></label>
                    </div>

                    <div class="entry">
                        <label>Address:</label>
                        <label name="address"></label>
                    </div>

                    <div class="entry">
                        <label>Nationality:</label>
                        <label name="nationality"></label>
                    </div>

                    <div class="entry">
                        <label>Date Of Birth:</label>
                        <label name="dob"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="$('#user-details-modal').modal('hide')">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/signalr")

<script src="~/signalr/hubs"></script>

<script type="text/javascript">
    var messages = JSON.parse("@(ViewBag.Messages != null ? Html.Raw(HttpUtility.JavaScriptStringEncode(ViewBag.Messages)) : "[]")");
    var $msgContainer = null;
    var $msgText = null;

    var chat = $.connection.chatHub;

    chat.client.appendMessage = function (message) {
        var msg = JSON.parse(message);

        msg.IsMine = msg.UserId.toLocaleLowerCase() === "@Session["userId"]".toLocaleLowerCase();
        msg.DateStr = moment(msg.DateStr).format("DD.MM.YYYY HH:mm");

        appendMessage(msg);

        scrollToLast();
    };

    function buildMessage(data) {
        var isMine = data.IsMine ? "mine" : "";
        var nameLabelOnClick = data.IsMine ? "" : "showUserDetails(\"" + data.UserId + "\", \"" + data.Id + "\"); ";

        var initials = data.Name.substr(0, 2);

        var msg =

            " <div class=\"message " + isMine + "\" id=\"" + data.Id + "\">                                 " +
            " <div class=\"message-head\">                                                                  " +
            "     <lable>" + data.DateStr + "</lable>                                                       " +
            " </div>                                                                                        " +
            " <div class=\"message-body\">                                                                  " +
            " <label  onclick='" + nameLabelOnClick + "'>" + initials + "</label>" +
            " <div>                                                                                         " +
            "     <label class=\"name\" onclick='" + nameLabelOnClick + "'>" + data.Name + ":</label>       " +
            "     <p>                                                                                       " +
                    data.Text                                                                                 +
            "     </p>                                                                                      " +
            " </div>                                                                                        " +
            " </div>                                                                                        " +
            " </div>                                                                                         ";

        return msg;
    }
    function appendMessage(msg, isRaw) {
        if (isRaw) {
            msg.IsMine = msg.UserId.toLocaleLowerCase() === "@Session["userId"]".toLocaleLowerCase();
            msg.DateStr = moment(msg.DateStr).format("DD.MM.YYYY HH:mm");
        }

        var template = buildMessage(msg);

        $msgContainer.append(template);
        $msgText.val("");
    }

    function test() {
        var data = {
            Id: "1",
            UserId: "asdasd1",
            Text: "Caramba",
            IsMine: true,
            Name: "Bethuel",
            DateStr: "10.10.2010"
        };

        appendMessage(data);


        for (var i = 1; i < 11; i++) {
            data = {
                Id: (i + 1) + "",
                UserId: "user" + (i + 1),
                Text: "Caramba2",
                IsMine: false,
                Name: "Thanos",
                DateStr: "10.10.2010"
            };
            appendMessage(data);
        }
    }

    function removeMessage(id) {
        $("#" + id).remove();
    }

    function sendMessage() {
        var msg = $msgText.val();
        if (!msg || !msg.length) {
            return;
        }
        
        var msgData = {
            UserId: "@Session["userId"]",
            Message: msg,
            LocalTime: moment().format()
        };

        chat.server.send(JSON.stringify(msgData));
    }

    function scrollToLast() {
        var $msgs = $msgContainer.children();
        if ($msgs.length) {
            var $last = $msgs[$msgs.length - 1];
            $msgContainer.scrollTop($last.offsetTop);
        }
    }

        $(document).ready(function () {
            $msgContainer = $("#chat-container");
            $msgText = $("#chat-text");

            for (var i = 0; i < messages.length; i++) {
                appendMessage(messages[i], true);
            }

            $.connection.hub.start().done(function () {
                console.log("yey");
            });

            scrollToLast();
        });

    function showUserDetails(userId, messageId) {
        $.post(
            "/User/GetUserData?userId=" + userId,
            function (result) {
                if (result.Success) {
                    $("#user-details-modal label[name='fullname']").text(result.Data.FullName);
                    $("#user-details-modal label[name='nickname']").text(result.Data.Nickname);
                    $("#user-details-modal label[name='email']").text(result.Data.Email);
                    $("#user-details-modal label[name='address']").text(result.Data.Address);
                    $("#user-details-modal label[name='nationality']").text(result.Data.Nationality);

                    if (result.Data.DateOfBirth) {
                        $("#user-details-modal label[name='dob']").text(moment(result.Data.DateOfBirth).format("DD.MM.YYYY"));
                    }
                    else{
                        $("#user-details-modal label[name='dob']").text("Not Set");
                    }

                    $('#user-details-modal').modal('show');
                }
            });
    }

</script>
